In [7]:
from google.cloud import bigquery
from google.oauth2 import service_account
import os
# Path to your service account key file
key_path = os.path.join("..", "credentials","raphael_credentials.json")

# Environnement VAR
GCP_PROJECT='the-mdr-project'
GCP_DB='live_mdr'
CAT_TABLE='category_dataset'
CAT_TABLE_ID=f'{GCP_PROJECT}.{GCP_DB}.{CAT_TABLE}' # the-mdr-project.live_mdr.category_dataset

# Create credentials using the key file
credentials = service_account.Credentials.from_service_account_file(key_path)

client = bigquery.Client(credentials=credentials, project=GCP_PROJECT)
query = """SELECT *
            FROM the-mdr-project.live_mdr.category_dataset"""
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()
df

    category_id       cat_name
0             1        culture
1             2        musique
2             3    technologie
3             4      politique
4             5          sport
5             6       economie
6             7  environnement
7             8        general
8             9         emploi
9            10           cite
10           11     management
11           12         presse
12           13       nustrale
13           14       tourisme